[Unit]
Description=Apache Kafka Broker
Documentation=http://kafka.apache.org/documentation.html
Requires=network.target
After=network.target

[Service]
Type=simple
ExecStartPre=-/usr/bin/mkdir -p {{kafka_log_dirs}}
ExecStart=/opt/kafka/bin/kafka-server-start.sh {{kafka_install_parent_dir}}/kafka/config/server.properties
Restart=on-failure

[Install]
WantedBy=multi-user.target